body{
    background-color: azure;
    margin: 0;
    padding: 0;
    color: white;
    background: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    background-color: rgb(48, 48, 53);
    border-bottom: 2px solid rgb(156, 20, 104);
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 4rem;
    padding: 0 2rem;
    
}
.header__h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__navbar a{
    padding-right: 10%;
}
.header__h2 span, .header__navbar a:nth-child(3){
    color: rgb(156, 20, 104);
}
a{
    color: white;
    text-decoration: none;
}
.section__first{
    box-sizing: border-box;
    height: 35rem;
    color: black;
    padding: 1rem 2rem;
}
[class*="section__first1"]{
    width: 60%;
    box-sizing: border-box;
    margin-bottom: .5rem;
    padding: .5rem 1rem;
    color: black;
    background-color:rgba(235, 222, 206, 0.5);
}
.section__first-aside{
    background-color: rgb(48, 48, 53);
    color: white;
    float: right;
    margin-top: 1rem;
    width: 30%;
    padding: .5rem;
}
.section__first-aside input{
    width: 80%;
    line-height: 1rem;
    padding: .5rem;
    margin: .5rem;
}
textarea{
    width: 80%;
    margin: .5rem;
    padding: .5rem;
}
#section__first-sendbtn{
    padding: .5rem;
    margin: .5rem;
    width: 4rem;
    background-color: rgb(218, 64, 3);
    border: none;
}
.section__second{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding:0 2rem ;
    background-color:rgb(48, 48, 53);
    height: 4rem;
}
.section__second-h3, .section__second-input{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section__second-input input{
    padding: .5rem;
    background-color: white;
    color: black;
    border: none;
}
.section__second-input input[type="button"]{
    background-color: rgb(218, 64, 3);
    color: antiquewhite;
    border: none;
}
.footer{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color:rgb(48, 48, 53);
    padding:1rem 0;
    color: white;
}
.footer img{
    width: 10rem;
    margin-top: -.75rem;
}
